.container{
    text-align: center;
    justify-content: center;
    background-color: #D3D3D3;
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
  }

.collapse-button{
  width: 100%;
}

  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
 
  td {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

 img{
  height: 100px;
  width: 100px;
 }

  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #green{
    background-color:	#87CEFA;
     
  }
  
  #red{
    background-color:#C0C0C0;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  #main {
      padding: 0px 0px 0px 0px;
      
     
  }

  #orange{
    background-color:#DCDCDC;
  }
  
  
  
  #blue {
    background-color:#C0C0C0;
    padding-top: 10px;
    border-radius:0px 0px 30px 0px ;
  }

  .selection {
      margin-top: 10px;
  }

  #purple {
    background-color: #87CEFA;
    margin: 0;
    border-radius: 30px;
   
  }

  #display-weather{
    width: 100%;
    margin: auto;
  }
  #weather-table{
    margin: auto;
    font-size: 0.9rem;
    width: 100%;
    min-width: 400px;
    
  }
  .w-td{
    text-align: left;
    justify-content: left;
  }
  
  .scrollable{
    height: 650px; /* or any value */
    overflow-y: auto;
    margin: auto;
  }

  .list-group {
      margin-bottom: 25px;
  }

  .pagination {
      text-align: center;
      justify-content: center;
      margin-top: 10px;
  }



  #topsearch {
      margin-bottom: 15px;
      margin-top: 5px;
  }

  /* Mobile stuff */

 

@media (min-width: 768px) { 
  #red {
    padding-right: 20px;
  }
  
  #blue {

    padding-bottom: 20px;
  
  }
  .container {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }

  .collapse{
    display: initial;
  }

  .collapse-button{
    display: none;
  }

 }




 /* end mobile */

#purple {
  padding-bottom: 10px;
}

/* End mobile stuff */

  /* #results{
    position: relative;
    overflow-y: scroll;
    height: 75px;
  } */

    /* accodion */
  .tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    }
    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
    max-height: max-content;
    height: min-content;
    background: white;
    }
    /* Label formatting when open */
    .tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.25rem; /*.text-xl*/
    padding: 0.25rem!important; /*.p-5*/
    border-left-width: 2px; /*.border-l-2*/
    border-color: #87CEFA; /*.border-indigo*/
    background-color: #f8fafc; /*.bg-gray-100 */
    color: #87CEFA; /*.text-indigo*/
    }
    /* Icon */
    .tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    }
    /* Icon formatting - closed */
    .tab input[type=checkbox] + label::after {
    content: "+";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }
    .tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }
    /* Icon formatting - open */
    .tab input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
    background-color: #87CEFA; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }
    .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    background-color: #87CEFA; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
  }

  /* MODAL STYLING */

.error-modal{
  background-color: #838383;
  height: 300px;
  width: 800px;
  box-shadow: black 2px;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 9000;
}

.modal-header{
  background-color: #87CEFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
}

.modal-header-text{
  text-align: center;
}

.modal-body{
  margin-top: -10px;
  text-align: center;
  font-size: 20px;
}